@import "../../../style/App.scss";

.button {
  .button-link {
    background-color: skyblue;
    border: 2px solid skyblue;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 800;
  }
  .button-link:hover {
    border: 1px solid skyblue;
    background-color: transparent;
  }
}
